@font-face {
  font-family: "阿里妈妈刀隶体 Regular";font-weight: 400;src: url("./3rIk3lRcszip.woff2") format("woff2"),
  url("./3rIk3lRcszip.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "阿里妈妈东方大楷 Regular";font-weight: 400;src: url("./1V7SOKxH8qqt.woff2") format("woff2"),
  url("./1V7SOKxH8qqt.woff") format("woff");
  font-display: swap;
}